body {
  background-color: #ded7c7;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.app-container {
  background-color: rgb(255, 255, 255, 0.5);
  max-width: 650px;
  margin: 0 auto;
  padding: 25px;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.3);
}
h1 {
  font-size: 40px;
  text-align: center;
  color: #666960;
  margin-bottom: 15px;
}

h1 .material-symbols-outlined {
  font-size: 40px;
  display: block;
  margin-top: 10px;
  margin-bottom: px;
}

select {
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  background-color: #c8a288;
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 1px solid #c8a288;
  color: white;
  margin-bottom: 30px;
}

h2 {
  font-size: 30px;
  margin: 0;
  margin-bottom: 5px;
}

.date {
  margin-bottom: 25px;
  color: rgb(0, 0, 0, 0.5);
}
.city {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(122, 122, 106, 0.4);
  padding-top: 15px;
}

.city:last-child {
  border: none;
}

.time {
  color: #c8a288;
  font-size: 36px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.time small {
  font-size: 20px;
  vertical-align: middle;
}

button {
  border-radius: 10px;
  background: #7a7a6a;
  border: 1px solid #7a7a6a;
  margin-top: 10px;
  transition: all 200ms ease-in-out;
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
}
button .material-symbols-outlined {
  font-size: 40px;
}

button a {
  color: white;
}

footer {
  text-align: center;
  margin-top: 15px;
}

footer a {
  color: #7a7a6a;
  text-decoration: none;
}

/* terracotta #C8A288 */
/* green #7A7A6A */
/* creamy yellow #DED7C7 */
